<!-- views/login.ejs -->
<!doctype html>
<html lang="en">
<head>
    <title>3mbs - 3 steps for your mind, body, and soul</title>
    <meta charset="utf-8">

    <!-- Normalize stylesheet -->   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">

    <!-- Fonts, CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<main>
 <section class="form">

    <form id="form" action="/login" method="post">
      <h4>Log in to your account</h4>

    <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <input class="submit" type="submit" value="Login">
        </div>
    <p>Need an account? <a class="signup" href="/signup">Signup</a></p>
    <p>Or go <a class="home" href="/">home</a>.</p>
    </form>
  </section>
</main>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/main.js"></script> 
</body>
</html>