<!-- views/index.ejs -->
<!doctype html>
<html lang="en">
<head>
    <title>3mbs - 3 steps for your mind, body, and soul</title>
    <meta charset="utf-8">

    <!-- Normalize stylesheet -->   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">

   <!-- load bootstrap css 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->

    <!-- Fonts, CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1819293234971177',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>





<main>
<section class="dashboard">
    <div>
      <p>Welcome, username!</p>
      <p>You have completed the following</p>
      <div class="db-item"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
      <div class="db-item"><i class="fa fa-bicycle" aria-hidden="true"></i></div>
      <div class="db-item"><i class="fa fa-heart" aria-hidden="true"></i></div>
      <div class="add-item">Add your own activity <div class="add-item-icon"><i class="fa fa-pencil-square" aria-hidden="true"></i></div></div>
      <div class="add-entry">
        <form id="mindform" action="/addMind" method="post">
          <input name="mindvalue" class="mindvalue" type="text">
          <button type="submit">Add <i class="fa fa-graduation-cap" aria-hidden="true"></i></button>
        </form>
        <form id="bodyform" action="/addBody" method="post">
          <input name="bodyvalue" class="bodyvalue" type="text">
          <button type="submit">Add <i class="fa fa-bicycle" aria-hidden="true"></i></button>
        </form>
        <form id="soulform" action="/addSoul" method="post">
          <input name="soulvalue" class="soulvalue" type="text">
            <button  type="submit">Add <i class="fa fa-heart" aria-hidden="true"></i></button>
        </form>
      </div>
      <div class="profile">Edit your profile</div>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>

    </div>
  </section>

  <section class="mbs">
    <div class="mind">
      <p class="mbs">Mind <i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
      <div class="options">
        <div class="selection">
          <div class="selection-text mind1">Get updated on the news</div>
          <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
          </div>
        <div class="selection">
          <div class="selection-text mind2">Take a break from your work</div>
          <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
          </div>
        <div class="selection nasa-selection">
          <div class="selection-text mind3">Check out an astrology photo from NASA
          </div>
          <a href="/nasa"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
          </div>
      </div>
    </div>

    <div class="body">
      <p class="mbs">Body <i class="fa fa-bicycle" aria-hidden="true"></i></p>
      <div class="options">
        <div class="selection">
          <div class="selection-text body1">Drink a glass of water</div>
          <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
        </div>
        <div class="selection">
          <div class="selection-text body2">Go outside for a quick walk</div>
          <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
          </div>
        <div class="selection youtube-selection">
          <div class="selection-text body3">Do a 5-minute workout</div>
          <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
          </div>
      </div>
    </div>
    <div class="soul">
      <p class="mbs">Soul <i class="fa fa-heart" aria-hidden="true"></i></p>
      <div class="options">
        <div class="selection">
            <div class="selection-text soul1">Look at cute animal pictures
            </div>
          <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
          </div>
        <div class="selection">
            <div class="selection-text soul2">Offer to help someone
            </div>
          <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
          </div>
        <div class="selection">
          <div class="selection-text soul3">Enjoy your favorite snack
          </div>
        <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></div>
      </div>
    </div>


  </section>


<div class="grey-out nasa hidden">
    <div class="box nasa hidden">
      <div class="nasa-box">
            <h3 id="apod_title"></h3>
            <div class="nasa-img"><img id="apod_img_id" src="">
            <iframe id="apod_vid_id" type="text/html" width="640" height="385" frameborder="0"></iframe></div>
            <p id="copyright"></p>
            <p id="photo-date"></p>
            <p id="apod_explaination"></p>
      </div>
  </div>
</div>


<div class="grey-out youtube hidden">
    <div class="box youtube hidden">

      <div class="youtube-box">
            <iframe id="workout-vid" width="560" height="315" frameborder="0" allowfullscreen></iframe>
            <p class="titleYT"></p></a>
      </div>
  </div>
</div>  

</main>


  <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/main.js"></script> 
</body>
</html>