<!-- views/nasa.ejs -->

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">

 <div class="grey-out nasa"> 
    <div class="box nasa">
      <div class="nasa-box">
          <a href="/back"><button type="button" class="back" name="back">Back</button></a>
          <% if (picture) { %>
            <h3 id="apod_title"><%= picture.title %></h3>
            <div class="nasa-img">
              <img id="apod_img_id" src="<%= picture.url %>">
           </div>
            <p id="photo-date"><%= picture.date %></p>
            <p id="apod_explanation"><%= picture.explanation %></p>
          <% } %>
      </div>
  </div>
</div>
