<!-- views/youtube.ejs -->

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">


 <div class="grey-out youtube"> 
    <div class="box youtube">   
      <div class="youtube-box">
          <p><a href="/return"><button type="button" class="return" name="back">Back</button></a></p>
            <% if (video) { %>
            <iframe id="workout-vid" height="325" frameborder="0" src="https://www.youtube.com/embed/<%= video.id.videoId %>?html5=1" allowfullscreen></iframe>
            <p class="titleYT"><%= video.snippet.title %></p></a>
            <% } %>
        <!--    <form><button type="button" name="video" value="<%= video %>" formmethod="post" formaction=" ">Save</button></form>  -->
      </div>
  </div>
</div> 
